<img alt="header" src="./visuals/zillow-header.png"/>

<h1 align="center">Executive Summary</h1>

In [1]:
# Libraries
import pandas as pd
import numpy as np
import src

# Acquire

In [2]:
src.get_zillow_data()

,id,parcel_id,baths,beds,sqft,fips,latitude,longitude,lot_sqft,county_land_code,...,region_city_id,region_county_id,region_zip_id,year_built,land_tax_value,tax_amount,id,parcel_id,log_error,transaction_date
0,2061546,11289917,2.0,3.0,1458.0,6037.0,34686163.0,-118113100.0,8284.0,0101,...,5534.0,3101.0,97318.0,1970.0,27214.0,2319.90,1248,11289917,-0.362001,2017-06-23
1,1834372,11705026,1.0,2.0,1421.0,6037.0,33999877.0,-118291863.0,6707.0,0100,...,12447.0,3101.0,96018.0,1911.0,23624.0,543.69,1772,11705026,-0.146056,2017-06-30
2,1923117,14269464,3.0,4.0,2541.0,6059.0,33694636.0,-117912245.0,4975.0,1,...,38032.0,1286.0,96958.0,2003.0,445569.0,9819.72,2028,14269464,0.021085,2017-06-01
3,2121349,11389003,2.0,3.0,1650.0,6037.0,33985377.0,-118361620.0,7300.0,0100,...,396550.0,3101.0,96037.0,1949.0,449000.0,7673.19,3273,11389003,-0.325393,2017-06-01
4,2093710,11967869,1.0,2.0,693.0,6037.0,34112946.0,-118208106.0,2908.0,0100,...,12447.0,3101.0,96023.0,1921.0,191821.0,3267.47,3429,11967869,-0.005566,2017-06-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15031,1324679,14339902,3.0,5.0,2526.0,6059.0,33753643.0,-117766503.0,7800.0,122,...,27491.0,1286.0,97018.0,1994.0,57104.0,5718.72,53494,14339902,-0.033525,2017-06-30
15032,2963359,13940564,3.0,5.0,2735.0,6059.0,33783173.0,-117817799.0,7100.0,122,...,33252.0,1286.0,97067.0,1963.0,27314.0,1465.88,53496,13940564,-0.004625,2017-06-30
15033,1948691,12945108,2.0,3.0,1536.0,6037.0,34058178.0,-117948180.0,8818.0,0101,...,14542.0,3101.0,96523.0,1955.0,171711.0,3519.78,53499,12945108,0.030079,2017-06-30
15034,444575,14214719,3.0,5.0,2655.0,6059.0,33836898.0,-117801369.0,6000.0,122,...,33252.0,1286.0,97065.0,1994.0,407513.0,8065.50,53500,14214719,-0.017898,2017-06-30
15035,1480299,11464823,3.0,4.0,2305.0,6037.0,33952368.0,-118441155.0,5742.0,0100,...,12447.0,3101.0,96129.0,1949.0,317974.0,6996.21,53501,11464823,0.136624,2017-06-30

# Prepare

# Explore

### Hypothesis Tests

H0 - There is no relationship between square feet and home value

H1 - There is a relationship between square feet and home value


H0 - There is no relationship between taxvaluedollarcnt and bathroomcnt

H1 - There is a relationship between taxvaluedollarcnt and bathroomcnt


H0 -The average price of homes with more than two bathrooms is equal to the average price of homes with two or less bathrooms.

H1 - Homes with more than two bathrooms have higher than average tax dollar count.

# Model

# Conclusions